/ {
    behaviors {
        hrm_left: hold_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HRM";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = < 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 >;  // right hand positions only
            retro-tap;
        };

        hrm_right: hold_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HRM";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = < 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 >;  // left hand positions only
            retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWERTY";
            bindings = <
                // Row 0 (top)
                &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T
                &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC

                // Row 1 (home row with mods)
                &kp TAB     &hrm_left LCTL A  &hrm_left LALT S  &hrm_left LGUI D  &hrm_left LSFT F  &kp G
                &kp H       &hrm_right RSFT J &hrm_right RGUI K &hrm_right RALT L &hrm_right RCTL SEMI &kp QUOT

                // Row 2 (bottom alphas)
                &kp LCTRL   &kp Z       &kp X       &kp C       &kp V       &kp B
                &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp MINUS

                // Thumbs (bottom row)
                                        &kp LSHFT   &mo 1       &kp SPACE
                &kp ENTER   &mo 2       &kp DEL      &kp RSHFT
            >;
        };

        lower_layer {
            label = "LOWER (nums/sym)";
            bindings = <
                &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
                &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp EQUAL

                &trans      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5
                &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11

                &trans      &kp EXLM    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT
                &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR    &kp PLUS

                                        &trans      &trans      &trans
                &trans      &trans      &trans      &trans
            >;
        };

        raise_layer {
            label = "RAISE (nav/media)";
            bindings = <
                &kp F12     &kp HOME    &kp PG_UP   &kp PG_DN   &kp END     &trans
                &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp INS     &kp DEL

                &kp MUTE    &kp VOL_DN  &kp VOL_UP  &kp MPLY    &trans      &trans
                &kp LBKT    &kp RBKT    &kp LCBR    &kp RCBR    &kp PIPE    &kp BSLS

                &trans      &trans      &kp CUT     &kp COPY    &kp PASTE   &trans
                &trans      &trans      &trans      &trans      &trans      &trans

                                        &trans      &trans      &trans
                &trans      &trans      &trans      &trans
            >;
        };
    };
};